{% extends "index.html" %}

{% block content %}
<h3><b>Run ID:</b> {{ run_id }}</h3>

<h3>Graphical representation</h3>
<div id={{ ids[0] }}></div>

<h3>Target coverage</h3>
{% if sample_summary_table %}
    {{ sample_summary_table | safe }}
{% else %}
    <div class="alert alert-info" role="alert">
      There is no target coverage table available.
    </div>
{% endif %}

<h3>Gene coverage</h3>
{% if coverage_sample_list %}
<table id="coverage_sample" class="table table-sm table-hover" width="100%"></table>
{% else %}
<div class="alert alert-info" role="alert">
  There are no gene coverage data available.
</div>
{% endif %}


<h3>Variants</h3>
{% if variants %}
    <div id={{ ids[1] }}></div>
    {{ variants | safe }}
{% else %}
<div class="alert alert-info" role="alert">
  There are no variants available.
</div>
{% endif %}

<h3>Variant annotations</h3>
{% if variants_annotations %}
    <div id="{{ ids[2] }}"></div>
{% else %}
    <div class="alert alert-info" role="alert">
      There are no variants annotations available.
    </div>
{% endif %}

{% endblock %}


{% block left_menu %}
<h3><b>Runs available:</b></h3>
<ul>
    {% for run in runs %}
    <li><a href="{{ url_for('.specific_run', run_id=run) }}">{{ run }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}

$(document).ready(function() {
    $('#coverage_sample').DataTable({
        data: {{ coverage_sample_list | safe }},
        columns: [
            { title: "Gene" },
            { title: "total_coverage" },
            { title: "avg_coverage" },
            { title: "%_above_10" },
            { title: "gran_Q3" },
            { title: "mean_cvg " },
            { title: "gran_median" },
            { title: "gran_Q1" },
            { title: "total_cvg" },
            { title: "%_above_5" },
            { title: "%_above_20" },
        ]
    });
} );

{% endblock %}