{% extends "index.html" %}

{% block content %}
    <h3><b>Samples available:</b></h3>
    <!--{% for key, value in samples.items() %}-->
    <!--<h3><a href="{{ url_for('.specific_run', run_id=key) }}">{{ key }}</a></h3>-->
    <!--<ul>-->
        <!--{% for run_id, sample_id in value %}-->
        <!--<li><a href="{{ url_for('.specific_sample', run_id=run_id, sample_id=sample_id) }}">{{ sample_id }}</a></li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
    <!--{% endfor %}-->

<!--<p></p>-->

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
    {% for key, value in samples.items() %}
        {% if loop.index == 1 %}
            <a class="list-group-item list-group-item-action active" id="run-{{ key }}" data-toggle="list" href="#list-{{ key }}" role="tab" aria-controls="home">{{ key }}</a>
        {% else %}
            <a class="list-group-item list-group-item-action" id="run-{{ key }}" data-toggle="list" href="#list-{{ key }}" role="tab" aria-controls="home">{{ key }}</a>
        {% endif %}
    {% endfor %}
      <!--<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>-->
    </div>
  </div>

  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <!--<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>-->
        {% for key, value in samples.items() %}
        {% if loop.index == 1 %}
            <div class="tab-pane fade show active" id="list-{{ key }}" role="tabpanel" aria-labelledby="list-profile-list">
        {% else %}
            <div class="tab-pane fade" id="list-{{ key }}" role="tabpanel" aria-labelledby="list-profile-list">
        {% endif %}
            <div class="list-group">
            {% for run_id, sample_id in value %}
              <a href="{{ url_for('.specific_sample', run_id=run_id, sample_id=sample_id) }}" class="list-group-item list-group-item-action">{{ sample_id }}</a>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}