{% extends "index.html" %}

<script type="text/javascript" src="/static/js/sample/sample.js"></script>

{% block content %}
<h3><b>Run ID:</b> <a href="{{ url_for('.specific_run', run_id=run_id) }}">{{ run_id }}</a></h3>
<h3><b>Sample ID:</b> {{ sample_id }}</h3>
{% if coverage_sample_summary_exists %}
    {{ coverage_sample_summary | safe }}
{% else %}
<div class="alert alert-info" role="alert">
  There are no sample summary data available.
</div>
{% endif %}

<div class="div-margin">
    <h3>Download:</h3>
    {% if fastq_path_r1 %}
    <a class="btn btn-primary" href="{{ url_for('download', path=fastq_path_r1) }}" role="button">FASTQ R1</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=fastq_path_r1) }}" role="button">FASTQ R1</a>
    {% endif %}

    {% if fastq_path_r2 %}
    <a class="btn btn-primary" href="{{ url_for('download', path=fastq_path_r2) }}" role="button">FASTQ R2</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=fastq_path_r2) }}" role="button">FASTQ R2</a>
    {% endif %}

    {% if bam_path %}
    <a class="btn btn-primary" href="{{ url_for('download', path=bam_path) }}" role="button">BAM</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=bam_path) }}" role="button">BAM</a>
    {% endif %}

    {% if vcf_path %}
    <a class="btn btn-primary" href="{{ url_for('download', path=vcf_path) }}" role="button">VCF</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=vcf_path) }}" role="button">VCF</a>
    {% endif %}
</div>
<div class="div-margin">
    <h3>Reports:</h3>
    <h5>Trimmed</h5>
    {% if fq1_fastqc %}
    <a class="btn btn-primary" href="{{ url_for('download', path=fq1_fastqc) }}" role="button" target="_blank">FASTQ FQ1</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=fq1_fastqc) }}" role="button">FASTQ FQ1</a>
    {% endif %}

    {% if fq2_fastqc %}
    <a class="btn btn-primary" href="{{ url_for('download', path=fq2_fastqc) }}" role="button" target="_blank">FASTQ FQ2</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=fq2_fastqc) }}" role="button" target="_blank">FASTQ FQ2</a>
    {% endif %}

    <h5>Raw</h5>
    {% if R1_001_fastqc %}
    <a class="btn btn-primary" href="{{ url_for('download', path=R1_001_fastqc) }}" role="button" target="_blank">FASTQ R1</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=R1_001_fastqc) }}" role="button">FASTQ R1</a>
    {% endif %}

    {% if R2_001_fastqc %}
    <a class="btn btn-primary" href="{{ url_for('download', path=R2_001_fastqc) }}" role="button" target="_blank">FASTQ R2</a>
    {% else %}
    <a class="btn btn-secondary disabled" href="{{ url_for('download', path=R2_001_fastqc) }}" role="button">FASTQ R2</a>
    {% endif %}
</div>

<div class="div-margin">
    <h3>Gene coverage:</h3>
    {% if gene_coverage_exists %}
        <table id="coverage_sample" class="table table-sm table-hover" width="100%"></table>
    {% else %}
    <div class="alert alert-info" role="alert">
      There are no gene coverage data available.
    </div>
    {% endif %}
</div>

<div class="div-margin">
    <h3>Sample Variants</h3>
    {% if sample_variants_exists %}
        <table id="sample_variants" class="table table-sm table-hover" width="100%"></table>
    {% else %}
    <div class="alert alert-info" role="alert">
      There are no variants available.
    </div>
    {% endif %}
</div>

{% endblock %}


{% block left_menu %}
<!--presentation of current run collapsed in left menu-->
<h3><b>Selected run samples:</b></h3>
{% with value=samples[run_id], run_id=run_id %}
    {% include '_card_collapsed.html' %}
{% endwith %}

<!--presentation of every run but currently viewing one-->
<h3><b>Other runs samples:</b></h3>
<div class="accordion">
    {% for key, value in samples.items() %}
    {% if not key==run_id %}
        {% include '_card.html' %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}

$(document).ready(function() {
    $('#sample_variants').DataTable({
        data: {{ sample_variations | safe }},
        columns: [
            { title: "CHROM" },
            { title: "POS" },
            { title: "REF" },
            { title: "ALT" },
            { title: "QUAL" },
            { title: "GT" },
            { title: "AD" },
            { title: "DP" },
        ]
    });

    $('#coverage_sample').DataTable({
        data: {{ coverage_sample_list | safe }},
        columns: [
            { title: "Gene" },
            { title: "total_coverage" },
            { title: "avg_coverage" },
            { title: "%_above_10" },
            { title: "gran_Q3" },
            { title: "mean_cvg " },
            { title: "gran_median" },
            { title: "gran_Q1" },
            { title: "total_cvg" },
            { title: "%_above_5" },
            { title: "%_above_20" },
        ]
    });
} );

{% endblock %}