<div class="card">
    <div class="card-header" id="ch{{ key }}">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#a{{ key }}"
                    aria-expanded="false" aria-controls="a{{ key }}">
                {{ key }}
            </button>
            <a class="btn btn-outline-primary" href="{{ url_for('.specific_run', run_id=key) }}" role="button">LINK</a>
        </h5>
    </div>

    <div id="a{{ key }}" class="collapse" aria-labelledby="ch{{ key }}">
        <div class="card-body">
            <ul>
                {% for run_id, sample_id in value %}
                <li>
                    <a href="{{ url_for('.specific_sample', run_id=run_id, sample_id=sample_id) }}">{{ sample_id }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>