<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Split</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="static/js/syncscroll.js"></script>

    <style>
        html,body{
      width: 100%;
      height: 100%;
}

    </style>

</head>

<div class="syncscroll frame" name="report"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Arc_Triomphe_%28square%29.jpg/1024px-Arc_Triomphe_%28square%29.jpg?1536093569167"></div>
<div class="syncscroll frame" name="report"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Arc_Triomphe_%28square%29.jpg/1024px-Arc_Triomphe_%28square%29.jpg?1536093569167"></div>

<iframe src="https://www.bcaa.pl/poradnik-sportowca/dieta-ketogeniczna-przykladowy-jadlospis.html" frameborder="0"
        scrolling="yes"
        style="height: 100%; width: 49%; float: left; " height="100%" width="49%" align="left" class="syncscroll" name="report">
</iframe>


<iframe src="https://www.bcaa.pl/poradnik-sportowca/dieta-ketogeniczna-przykladowy-jadlospis.html" frameborder="0"
        scrolling="yes"
        style="overflow: hidden; height: 100%; width: 49%; " height="100%" width="49%" align="right" class="syncscroll" name="report">
</iframe>


</body>

</html>